<cds-modal
  [size]="modalSize"
  [open]="openModal"
  (overlaySelected)="closeModal()"
>
  <cds-modal-header
    (closeSelect)="closeModal()"
    [showCloseButton]="showCloseButton"
  >
    <h2 cdsModalHeaderLabel>Form</h2>
    <h3 cdsModalHeaderHeading>Expense</h3>
  </cds-modal-header>

  <section cdsModalContent>
    <app-expense-form
      [data]="updateData"
      [dropdownItems]="categories"
      (expenseFormValues)="getExpenseFormValues($event)"
      *ngIf="formType === 'expense'"
    ></app-expense-form>
  </section>

  <cds-modal-footer>
    <button class="cds--btn cds--btn--secondary" (click)="closeModal()">
      Cancel
    </button>

    <button
      class="cds--btn cds--btn--primary"
      modal-primary-focus
      (click)="closeModal(true)"
    >
      {{ updateData ? "Update" : "Create" }}
    </button>
  </cds-modal-footer>
</cds-modal>
